<div class="row">

<div class="col-md-3">
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr> <td>09:00</td>  <td>Automating tasks with the Unix shell</td> </tr>
      <tr> <td>10:30</td>  <td>Coffee</td> </tr>
      <tr> <td>10:45</td>  <td>Unix shell (continued)</td> </tr>

    </table>
</div>

<div class="col-md-3">
  <h3>Day 2</h3>
  <table class="table table-striped">
    <tr> <td>09:00</td>  <td>Version control with git</td> </tr>
    <tr> <td>10:30</td>  <td>Coffee</td> </tr>
    <tr> <td>10:45</td>  <td>Version control with git (continued)</td> </tr>

  </table>
</div>

<div class="col-md-3">
  <h3>Day 3</h3>
  <table class="table table-striped">
    <tr> <td>09:00</td>  <td>Programming with Python/R</td> </tr>
    <tr> <td>10:30</td>  <td>Coffee</td> </tr>
    <tr> <td>10:45</td>  <td>Python/R (continued)</td> </tr>

  </table>
</div>

<div class="col-md-3">
  <h3>Day 4</h3>
  <table class="table table-striped">
    <tr> <td>09:00</td>  <td>Programming with Python/R (continued)</td> </tr>
    <tr> <td>10:30</td>  <td>Coffee</td> </tr>
    <tr> <td>10:45</td>  <td>Python/R (continued)</td> </tr>

  </table>
</div>
</div>
